<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel = 'stylesheet' href = 'app.css'>

<h1> MORBIUS 2 </h1>
 
<p class="lead">Enter your email to join the waitlist for exclusive release of Morbius 2: It's Morbin' Time </p>
<h4>
	<strong><%= count %></strong> others on our waitlist.
</h4>
<form method="POST" action='/register'>
 <input type="text" class="form" name="email" placeholder="Enter Your Email">
 <button>Join Now</button>
</form>